.create-ticket {
    &__step-one {
        display: flex;
        flex-direction: column;

        .ticket-card {
            width: calc(50% - 8px);
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    &__step-two {
        .ticket-card {
            width: 100%;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    &__step-ticket {
        .heading {
            margin-bottom: 10px !important;
        }

        .grid-table {
            margin-top: 12px;
        }

        .switches-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .switch-block {
                width: calc((100%/3) - 14px);

                &:nth-child(n+4) {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

.no-pointer-events {
    pointer-events: none;

    .btn.btn_small.btn_blue {
        display: none;
    }
}

.translator-hint {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: linear-gradient(120deg, hsl(224, 100%, 50%) 0%, hsl(208, 100%, 50%) 100%);
    width: 90%;
    padding: 1rem;
    color: white;
    text-align: center;
    border-radius: 10px;
}
