.card {
    background: white;
    display: flex;
    padding: 22px;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;

    .card__show-more {
        position: absolute;
        right: 0;
        font-size: 12px;
        color: hsl(218, 29%, 25%);
        font-weight: 300;
        margin: 0;
        top: 4px;
    }

    .input-block {
        & + * {
            margin-top: 1em;
        }
    }

    & + * {
        margin-top: 1em;
    }

    &__left {
        & + * {
            margin-left: 1em;
        }
    }

    &__right {
        width: 100%;
        position: relative;
    }

    &__avatar-holder {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        overflow: hidden;
        background: #D8D8D8;
    }

    &__avatar {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__text {
        font-size: 12px;
        color: #2E3C54;
        font-weight: $book;
        margin: 0;

        & + * {
            margin-top: 1.1em;
        }
    }

    &__subtitle {
        font-size: 10px;
        font-weight: $medium;
        color: #CECECE;

        & + * {
            margin-top: 6px;
        }
    }

    &__info-wrap {
        display: flex;

        & + * {
            margin-top: 24px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        position: relative;

        &_gray {
            .btn_blue {
                background: hsla(0, 0%, 0%, 0.4);
                opacity: .5;
            }
        }

        &_disabled {
            .btn_blue {
                pointer-events: none;
                background: hsla(0, 0%, 0%, 0.4);
                opacity: .5;
            }
        }

        @media (max-width: 330px) {
            flex-direction: column;

            .btn {
                width: 100%;
            }
        }

        .btn {
            span {
                text-align: center;
            }

            &.btn_blue {
                width: 65%;

                @media (max-width: 380px) {
                    width: 80%;

                    @media (max-width: 330px) {
                        width: 100%;
                    }
                }

                & + * {
                    margin-left: 1em;
                }
            }

            &.btn_transparent {
                width: 25%;

                @media (max-width: 330px) {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .request-count {
        position: absolute;
        font-size: 10px;
        display: flex;
        align-items: center;
        background: red;
        color: white;
        justify-content: center;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid white;
        top: 0;
        left: 61%;

        @media (max-width: 380px) {
            left: 69%;

            @media (max-width: 330px) {
                left: 94%;
            }
        }
    }
}

.info {
    display: flex;
    flex-direction: column;

    &_small {
        * {
            width: max-content;
        }

        .info_small {
            margin-top: 8px;
        }
    }

    & + .info {
        margin-left: 1.8em;
    }

    &__heading {
        font-size: 11.76px;
        color: #E3E3E3;
        font-weight: $book;

        & + * {
            margin-top: 5px;
        }
    }

    &__content {
        font-size: 14.4px;
        color: #4A4A4A;
        font-weight: $demi;
    }
}
