.footer-nav {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #FAFAFA;

    &__item {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .icon_active {
            width: 0;
            height: 0;
            overflow: hidden;
        }

        &_active {
            &::before {
                content: '';
                position: absolute;
                border-radius: 50%;
                height: 4px;
                width: 4px;
                background: #026FFF;
                top: -18px;
                transition: all 0.4s;
            }

            .icon_unactive {
                display: none;
            }

            .icon_active {
                width: initial;
                height: initial;
            }
        }
    }
}
