.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    min-height: 100vh;
    padding-bottom: 120px;
    position: relative;

    @media (max-width: 330px) {
        padding-top: 5vh;
    }

    &.popup-opened {
        &_log {
            .btn_big {
                transform: scalex(0);
                opacity: 0;
            }
        }

        &_log {
            .form-popup_login {
                transform: scalex(1);
                visibility: visible;
            }
        }

        &_reg {
            .form-popup_reg {
                transform: scalex(1);
                visibility: visible;
            }

            .btn_big {
                &.btn_white {
                    transform: scalex(0);
                    opacity: 0;
                }

                &.btn_blue {
                    transform: translate3d(0, 31vw, 0);
                    background: hsl(0, 0%, 100%);
                    color: hsl(0, 0%, 80%);
                    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.2);

                    @media (max-width: 330px) {
                        transform: translate3d(0, 200%, 0);
                    }
                }
            }
        }
    }

    &__img {
        & + * {
            margin-top: 10vh;
        }
    }

    &__btn {
        transition: all 0.4s;

        & + * {
            margin-top: 3vh;
        }
    }

    &__logo {
        margin-top: 4vh;
        position: absolute;
        bottom: 1.5rem;
    }
}

.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 80%;
    position: absolute;
    padding: 20px 40px;
    transform: scalex(0);
    visibility: hidden;
    transition: all .4s;
    box-shadow: 1px 7px 30px 10px rgba(0, 0, 0, 0.1);

    &_login {
        background: #FFFFFF;
        top: 33%;
    }

    &_reg {
        background-image: linear-gradient(-167deg, #0244FF 0%, #0188FF 100%);
        top: 0%;

        .form-popup__title {
            color: white;
        }

        .input-block {
            &__input {
                color: white;
                border-color: white !important;

                @media (max-width: 330px) {
                    font-size: 10px !important;
                }

                &::placeholder {
                    color: white;
                }
            }
        }
    }

    > * + * {
        margin-top: 26px;

        @media (max-width: 330px) {
            margin-top: 1rem;
        }
    }

    .input-block {
        & + * {
            margin-top: 1rem;

            @media (max-width: 330px) {
                margin-top: .5rem;
            }
        }
    }

    &__title {
        margin: 0;
        color: #262424;
        letter-spacing: 0;
        text-align: center;
        font: {
            size: 20px;
            weight: $medium;
        };
    }

    .btn {
        width: 100%;
        height: 38px;
        text-transform: capitalize;
        font: {
            size: 12px;
            weight: $book;
        };
    }
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        color: #9B9B9B;
        letter-spacing: 0.5px;
        text-align: center;
        font: {
            size: 10px;
            weight: $book;
        };

        & + * {
            margin-top: 1rem;
        }
    }

    &__item {
        opacity: 0.1;

        & + * {
            margin-left: 1rem;
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }
}
