.image-loader {
    position: relative;
    width: 95px;
    height: 95px;

    &__img {
        margin-top: 0;
    }

    &__input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    & + * {
        margin-left: 1em;
    }
}
