.contacts-block {
    &__heading {
        opacity: 0.33;
        font-size: 17px;
        color: #000000;
        font-weight: $medium;

        & + * {
            margin-top: 1rem;
        }
    }

    &__content {
        font-size: 14px;
        line-height: 16px;
        color: #2E3C54;
        text-align: left;
        font-weight: $medium;
    }

    & + * {
        margin-top: 1rem;
    }
}
